body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: --webkit-fill-available;

  overflow: none;
  touch-action: pinch-zoom;

  background-color: #01130d;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: 88vh;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: none;
  padding: 1em;
}

.console {
  display: flex;
  flex: 1;
  padding: 2em;
  background-color: #022117;
  color: #41ff00;
  border-radius: 18px;
  margin-bottom: 0;
  overflow-y: scroll;
}

.console-text {
  animation: type 2s steps(40) infinite;
}

.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: start;
  gap: 1em;
  width: 100%;
  overflow-x: scroll;
}

.button {
  background-color: #022117;
  border-radius: 5px;
  border: none;
  color: #41ff00;
  cursor: pointer;
  fill: #41ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-align: left;
  padding: 1em;
  min-width: 200px;
}

.button:hover {
  background-color: #023021;
}

.icon {
  color: #41ff00;
  width: 16px;
  height: 16px;
}

.hidden {
  display: none;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0.5em;
  background-color: #022117;
  border-radius: 5px;
  border: none;
  color: #41ff00;
  cursor: pointer;
  fill: #41ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-align: left;
  z-index: 2;
}

.settings-button:hover {
  background-color: #023021;
}

.popover {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #022117;
  border-radius: 5px;
  border: none;
  color: #41ff00;
  cursor: pointer;
  fill: #41ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-align: left;
  z-index: 1;
}

.popover {
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.options {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 3em;
}

.option {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  align-items: center;
  padding: 1em;
}

.option:hover {
  background-color: #023021;
}

code {
  background-color: #033827;
}